#editor-render {
    width: 100%;
    margin-top: 50px;
}

#editor-render p {
    word-break: break-all;
}

#editor-render h2 {
    word-break: break-all;
}

#editor-render h1 {
    word-break: break-all;
}

#editor-render blockquote {
    word-break: break-all;
}

#editor-render img {
    text-align: center;
    width: 100%;
}

#editor-preview {
    max-width: 1080px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: #7066e0 !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
    background-color: #6e7881 !important;
}